<%- include('uses/header'); -%>

<div class="contain p-2 mt-5" style="width: 25%; font-size: 15px;">
    <h3 class="text-center alert alert-primary">SignUp</h3>

    <form action="/product" method="post"  enctype="multipart/form-data">

      <div style="display: flex; margin-bottom: 5px; ">
        <label style="flex:5">Name: </label>
        <input type="text" name="itemname" style="flex:5">
      </div>
      <div style="display: flex; margin-bottom: 5px;">
      
        <label style="flex:5">Price: </label>
        <input type="number" name="price"style="flex:5">
      </div>
      <div style="display: flex; margin-bottom: 5px;">
      
        <label style="flex:5">Image: </label>
        <input type="file" name="myFile">

      </div>
      <p class="text-center"><button type="submit" class="  text-center btn btn-outline-primary text-center">Sign Up</button> </p> 
  </form>

  
</div>

  
<%- include('uses/footer'); -%>